# General
PROJECT_NAME="Food Store API"

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/foodstore_db

# Security
# openssl rand -hex 32
SECRET_KEY=your-super-secret-key-min-32-chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS
CORS_ORIGINS=["http://localhost:5173"]

# MercadoPago
MP_ACCESS_TOKEN=TEST-your-access-token
MP_PUBLIC_KEY=TEST-your-public-key
MP_NOTIFICATION_URL=https://your-domain.com/api/v1/pagos/webhook
